name: Test pull request
on: pull_request

jobs:
  run-python-tests:
    name: Run Python tests
    uses: logikal-io/github-workflows/.github/workflows/run-python-tests.yml@v9
    with:
      aws-testing-role: arn:aws:iam::979401941518:role/testing-stormware-logikal-io
      aws-testing-region: eu-central-2
      gcp-testing-workload-identity-provider: "projects/535697707941/locations/global/\
                                               workloadIdentityPools/ci-cd/providers/\
                                               github-actions"
      gcp-testing-service-account: testing@stormware-logikal-io.iam.gserviceaccount.com
    permissions:
      contents: read
      id-token: write

  run-terraform-tests:
    name: Run Terraform tests
    uses: logikal-io/github-workflows/.github/workflows/run-terraform-tests.yml@v9
