name: Test integrations
on:
  schedule:
    - cron: '8 10 * * *'  # 10:08 UTC

jobs:
  run-python-tests:
    name: Run Python tests
    uses: logikal-io/github-workflows/.github/workflows/python-run-tests.yml@v11
    with:
      pytest-options: --fast
      aws-testing-role: arn:aws:iam::979401941518:role/testing-stormware-logikal-io
      aws-testing-region: eu-central-2
      gcp-testing-workload-identity-provider: "projects/535697707941/locations/global/\
                                               workloadIdentityPools/ci-cd/providers/\
                                               github-actions"
      gcp-testing-service-account: testing@stormware-logikal-io.iam.gserviceaccount.com
    permissions:
      contents: read
      id-token: write
    # Not supported currently, see https://github.com/actions/runner/issues/2415
    # timeout-minutes: 10
